{
  "net_name": "DSSM",
  "global":{
      "model_type": "PY",
      "weights_file": "MatchZoo/examples/Robust/weights/dssm.Robust.weights",
      "save_weights_iters": 200,
      "num_iters": 400,
      "display_interval": 10,
      "test_weights_iters": 400,
      "optimizer": "adadelta",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus": "MatchZoo/data/Robust/corpus_preprocessed.txt",
        "text2_corpus": "MatchZoo/data/Robust/corpus_preprocessed.txt",
        "word_triletter_map_file": "MatchZoo/data/Robust/word_triletter_map.txt",
        "vocab_size": 621920,
        "embed_size": 50,
        "train_embed": true,
        "target_mode": "ranking",
        "text1_maxlen": 50,
        "text2_maxlen": 254
    },
    "train": {
        "input_type": "Triletter_PairGenerator", 
        "dtype": "cdssm",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 80,
        "batch_per_iter": 5,
        "batch_size": 256,
        "relation_file": "MatchZoo/data/Robust/relation_train.txt"
    },
    "valid": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "cdssm",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "MatchZoo/data/Robust/relation_valid.txt"
    },
    "test": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "cdssm",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "MatchZoo/data/Robust/relation_test.txt"
    },
    "predict": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "cdssm",
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "MatchZoo/data/Robust/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.Robust.txt"
    }
  },
  "model": {
    "model_path": "MatchZoo/matchzoo/models/",
    "model_py": "cdssm.CDSSM",
    "setting": {
        "kernel_count": 50,
        "kernel_size": 3,
        "hidden_sizes": [10],
        "dropout_rate": 0.9
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

