*.pyc
*.log
*.swp
*.bak
*.trec
*.ranklist
*.DS_Store
*.coverage
predict.*
**/WikiQA
**/toy-example
**/QuoraQP
**/wikiqa
build/
dist/
log/*
matchzoo/log/*
matchzoo/querydecision/
log/*
.idea/
.pytest_cache/
MatchZoo.egg-info/
